DATABASE_USERNAME=postgres
DATABASE_PASSWORD=oiygydcrtreautgc67r
SERVER_PORT=8081
DATABASE_URL=jdbc:postgresql://hireme_db:5432/hireme_db
JWT_SECRET_KEY=eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MT